In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0    1.378568 -0.310424 -0.233011  1.197262
1    1.144198 -0.230387  0.986156  0.231591
2    0.582500  0.907324 -0.224260  1.294666
3   -0.343868 -1.412319 -0.359366 -1.003961
4    0.505428 -1.084644 -0.044532 -0.094582
5   -0.448253  0.539409  0.729003  0.482603
6   -0.116429 -1.371586 -0.906522  0.309648
7    1.076204  0.159769 -0.040291  0.766988
8   -0.877568  0.483099  0.790904  0.564326
9    2.275685 -0.617455  0.147934 -0.478888
10  -0.447143 -1.166591  1.519216 -0.014571
11   0.081468  0.962692 -0.657888  0.646790
12   0.466586 -0.635350 -0.268912 -1.103941
13  -0.181162  0.996923 -0.582651  0.001742
14  -0.334087 -0.058389  0.293999 -1.668460
15  -1.524725 -0.815813  2.093876 -0.349149
16  -0.438956 -2.038877  0.145388  2.457639
17   0.731923 -1.156534 -3.465973 -1.709730
18   0.480114  0.445168  1.017117 -0.726531
19   0.455785  0.123453  0.019683  0.450185
20  -0.846239 -1.094036 -1.191636  0.041835
21  -0.198936  1.154666  1.010893  0.050816
22   0.415409 -0.550362  0.236388  1.021841
23  -0.411142  1.354966  0.319962 -0.195363
24  -0.296186 -0.709548 -0.334770  0.605200
25  -2.021629  1.856728  0.671674  0.432535
26  -0.624862 -0.751875  1.299567 -0.349650
27   0.077144  2.422564  0.919580  0.720943
28   0.509971  0.405473 -0.645815 -0.366074
29  -2.281727  1.692370 -2.183573  1.232069
..        ...       ...       ...       ...
970  0.389254  0.345252  0.938713  0.952942
971  0.977861  0.736951  2.755606 -0.720534
972  0.750102  0.217196 -0.268298 -0.476315
973 -0.794460  0.824104  2.185352 -1.289238
974 -0.663936  0.672229  1.391537  1.591844
975 -0.009753  1.010278 -0.254392  0.114655
976 -0.842336 -1.184801 -1.317093 -0.601784
977 -0.013440  0.588909 -1.707720 -1.248238
978  0.478593 -0.169797  1.588978  0.126897
979  0.390872  1.364965 -0.225470 -0.208862
980  0.094475 -0.203306  1.035464  0.842217
981 -0.157547  0.131412 -1.293219 -0.822104
982  0.168208 -0.902522  1.678968  0.986351
983  0.777601  1.737395  1.237047  0.259852
984  1.571504  0.917349 -0.171803  0.631831
985 -0.633528  2.119938 -0.238493  0.812562
986  1.034840  1.870812  1.422192  1.740693
987 -2.113494  0.340133  0.568821  0.571592
988  0.755621 -0.548281  1.344148 -0.650731
989  0.579964  0.433429  0.850398 -0.556641
990  1.086505  1.164964  2.131915 -0.465453
991  0.664260 -0.320752  0.404330 -1.403886
992  0.466008  0.087310  0.780774  0.102865
993  0.650892  1.310860 -0.088572 -0.037041
994  0.386248 -0.037898 -1.403698 -0.836620
995 -0.047538  0.304309  0.720051  0.508123
996  0.107112  0.640842  2.477704  0.684463
997  0.034830  1.321753 -0.605098 -0.419805
998  0.147127 -0.539658  0.467110  0.108322
999  1.308273  1.707793 -1.289320  0.472505

[1000 rows x 4 columns]

In [4]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.000728     0.105801     0.007552     0.024401
std       1.008679     1.016753     1.035694     0.981795
min      -3.479216    -4.225676    -3.465973    -3.304558
25%      -0.648450    -0.578437    -0.679798    -0.646241
50%       0.039530     0.121195    -0.000719     0.022853
75%       0.678917     0.804857     0.667092     0.686523
max       2.929724     3.046720     3.017750     3.123837

# As input data is from standard normal distribution any thing that is above 3 SD range is an outlier

In [5]:
col = data[2]
col

0     -0.233011
1      0.986156
2     -0.224260
3     -0.359366
4     -0.044532
5      0.729003
6     -0.906522
7     -0.040291
8      0.790904
9      0.147934
10     1.519216
11    -0.657888
12    -0.268912
13    -0.582651
14     0.293999
15     2.093876
16     0.145388
17    -3.465973
18     1.017117
19     0.019683
20    -1.191636
21     1.010893
22     0.236388
23     0.319962
24    -0.334770
25     0.671674
26     1.299567
27     0.919580
28    -0.645815
29    -2.183573
         ...
970    0.938713
971    2.755606
972   -0.268298
973    2.185352
974    1.391537
975   -0.254392
976   -1.317093
977   -1.707720
978    1.588978
979   -0.225470
980    1.035464
981   -1.293219
982    1.678968
983    1.237047
984   -0.171803
985   -0.238493
986    1.422192
987    0.568821
988    1.344148
989    0.850398
990    2.131915
991    0.404330
992    0.780774
993   -0.088572
994   -1.403698
995    0.720051
996    2.477704
997   -0.605098
998    0.467110
999   -1.289320
Name: 2, Length: 1000, dtype: float64

In [6]:
col[np.abs(col)>3]

17    -3.465973
52    -3.106662
125    3.017750
263   -3.389810
522   -3.364176
Name: 2, dtype: float64

In [8]:
data[(np.abs(data)>3)]

      0   1         2   3
0   NaN NaN       NaN NaN
1   NaN NaN       NaN NaN
2   NaN NaN       NaN NaN
3   NaN NaN       NaN NaN
4   NaN NaN       NaN NaN
5   NaN NaN       NaN NaN
6   NaN NaN       NaN NaN
7   NaN NaN       NaN NaN
8   NaN NaN       NaN NaN
9   NaN NaN       NaN NaN
10  NaN NaN       NaN NaN
11  NaN NaN       NaN NaN
12  NaN NaN       NaN NaN
13  NaN NaN       NaN NaN
14  NaN NaN       NaN NaN
15  NaN NaN       NaN NaN
16  NaN NaN       NaN NaN
17  NaN NaN -3.465973 NaN
18  NaN NaN       NaN NaN
19  NaN NaN       NaN NaN
20  NaN NaN       NaN NaN
21  NaN NaN       NaN NaN
22  NaN NaN       NaN NaN
23  NaN NaN       NaN NaN
24  NaN NaN       NaN NaN
25  NaN NaN       NaN NaN
26  NaN NaN       NaN NaN
27  NaN NaN       NaN NaN
28  NaN NaN       NaN NaN
29  NaN NaN       NaN NaN
..   ..  ..       ...  ..
970 NaN NaN       NaN NaN
971 NaN NaN       NaN NaN
972 NaN NaN       NaN NaN
973 NaN NaN       NaN NaN
974 NaN NaN       NaN NaN
975 NaN NaN       NaN NaN
976 NaN NaN       NaN NaN
977 NaN NaN       NaN NaN
978 NaN NaN       NaN NaN
979 NaN NaN       NaN NaN
980 NaN NaN       NaN NaN
981 NaN NaN       NaN NaN
982 NaN NaN       NaN NaN
983 NaN NaN       NaN NaN
984 NaN NaN       NaN NaN
985 NaN NaN       NaN NaN
986 NaN NaN       NaN NaN
987 NaN NaN       NaN NaN
988 NaN NaN       NaN NaN
989 NaN NaN       NaN NaN
990 NaN NaN       NaN NaN
991 NaN NaN       NaN NaN
992 NaN NaN       NaN NaN
993 NaN NaN       NaN NaN
994 NaN NaN       NaN NaN
995 NaN NaN       NaN NaN
996 NaN NaN       NaN NaN
997 NaN NaN       NaN NaN
998 NaN NaN       NaN NaN
999 NaN NaN       NaN NaN

[1000 rows x 4 columns]

In [9]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
17   0.731923 -1.156534 -3.465973 -1.709730
52   0.022375  2.676603 -3.106662  0.197392
125  1.215241 -1.001287  3.017750 -0.370329
194 -1.296088 -4.225676 -1.256817  0.059253
263  1.052316  1.007262 -3.389810  1.222872
309 -3.479216  1.013497 -0.586041  0.592151
423  1.956060 -3.150723 -0.257521 -0.724713
522 -0.867259 -2.218979 -3.364176  0.597949
530  0.013971  3.046720 -1.031145 -0.453395
542 -0.332783 -0.691616  0.316481  3.123837
750 -1.717712  0.111548 -0.770084 -3.304558
798 -1.199227 -0.115894  0.599409 -3.227323
912  0.170426  1.055328 -1.125496  3.101679

In [11]:
data[np.abs(data)>3] = np.sign(data)*3

In [12]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.001207     0.107131     0.008861     0.024707
std       1.007137     1.011646     1.031529     0.979381
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.648450    -0.578437    -0.679798    -0.646241
50%       0.039530     0.121195    -0.000719     0.022853
75%       0.678917     0.804857     0.667092     0.686523
max       2.929724     3.000000     3.000000     3.000000