In [1]:
import pandas as pd
import numpy as np

In [4]:
from datetime import datetime
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)
ts

2011-01-02    0.023715
2011-01-05   -1.512239
2011-01-07   -0.140376
2011-01-08    0.332055
2011-01-10   -0.614697
2011-01-12   -2.035146
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts+ts[::2]

2011-01-02    0.047429
2011-01-05         NaN
2011-01-07   -0.280752
2011-01-08         NaN
2011-01-10   -1.229395
2011-01-12         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

In [9]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# Indexing, Selection, Subsetting

In [13]:
stamp = ts.index[2]
print(stamp)
ts[stamp]

2011-01-07 00:00:00

-0.14037606091182817

In [11]:
ts['2011-01-10']

-0.6146973890013427

In [14]:
ts['01/10/2011']

-0.6146973890013427

In [15]:
ts['20110110']

-0.6146973890013427

In [16]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.123628
2000-01-02    1.687278
2000-01-03   -0.415328
2000-01-04    0.083550
2000-01-05    0.095070
2000-01-06   -0.152595
2000-01-07   -1.109024
2000-01-08   -1.022587
2000-01-09   -0.781337
2000-01-10   -0.906342
2000-01-11    1.374222
2000-01-12   -0.759469
2000-01-13    0.611310
2000-01-14   -0.618698
2000-01-15   -0.455028
2000-01-16   -0.568405
2000-01-17    0.442014
2000-01-18    0.013271
2000-01-19   -0.459030
2000-01-20    0.291806
2000-01-21   -0.483067
2000-01-22    0.676005
2000-01-23    0.240021
2000-01-24    0.454413
2000-01-25    2.149669
2000-01-26   -0.247518
2000-01-27   -1.573361
2000-01-28   -0.690070
2000-01-29   -1.025405
2000-01-30    0.640763
                ...
2002-08-28   -0.944199
2002-08-29    2.086475
2002-08-30    0.581748
2002-08-31   -0.652011
2002-09-01   -0.069924
2002-09-02   -0.676892
2002-09-03   -0.252757
2002-09-04   -0.168824
2002-09-05   -0.139599
2002-09-06    2.354277
2002-09-07   -1.641956
2002-09-08    0.303083
2002-09-09    0.130061
2002-09-10   -0.947197
2002-09-11   -1.323164
2002-09-12   -1.804847
2002-09-13    1.094861
2002-09-14   -1.016024
2002-09-15   -2.068438
2002-09-16   -0.825642
2002-09-17   -0.946055
2002-09-18   -0.369084
2002-09-19   -0.865177
2002-09-20    0.340968
2002-09-21   -0.840934
2002-09-22    0.769175
2002-09-23   -0.597948
2002-09-24   -1.132164
2002-09-25    0.786315
2002-09-26   -0.074515
Freq: D, Length: 1000, dtype: float64

In [17]:
longer_ts['2001']

2001-01-01    1.708433
2001-01-02    0.496277
2001-01-03    0.192707
2001-01-04   -1.197687
2001-01-05    0.185581
2001-01-06   -0.980254
2001-01-07   -0.749075
2001-01-08   -1.404060
2001-01-09    1.932171
2001-01-10    0.713993
2001-01-11    1.018511
2001-01-12    0.187639
2001-01-13    0.048456
2001-01-14   -0.389512
2001-01-15   -0.151641
2001-01-16   -0.717933
2001-01-17    0.709959
2001-01-18   -0.125885
2001-01-19   -2.098880
2001-01-20   -0.133544
2001-01-21   -0.120374
2001-01-22   -1.022141
2001-01-23    0.776793
2001-01-24   -0.163610
2001-01-25    0.131040
2001-01-26    0.431407
2001-01-27    0.848302
2001-01-28    0.414993
2001-01-29    0.994112
2001-01-30   -0.346210
                ...
2001-12-02    0.303930
2001-12-03   -0.106986
2001-12-04   -0.703895
2001-12-05    0.514863
2001-12-06    0.135132
2001-12-07   -0.747035
2001-12-08   -0.011849
2001-12-09   -0.539384
2001-12-10    0.519614
2001-12-11    0.576259
2001-12-12   -0.516426
2001-12-13    0.109920
2001-12-14   -1.386204
2001-12-15   -0.148832
2001-12-16   -0.364919
2001-12-17    1.128958
2001-12-18   -1.413507
2001-12-19   -0.515587
2001-12-20    0.447526
2001-12-21   -0.576288
2001-12-22    0.760845
2001-12-23   -1.621723
2001-12-24   -1.082377
2001-12-25    0.719100
2001-12-26   -0.802960
2001-12-27   -0.688883
2001-12-28   -1.913992
2001-12-29    0.480577
2001-12-30   -0.462238
2001-12-31    1.031290
Freq: D, Length: 365, dtype: float64

In [18]:
longer_ts['2001-05']

2001-05-01    1.083896
2001-05-02    0.363801
2001-05-03    0.188762
2001-05-04    0.097517
2001-05-05   -0.515468
2001-05-06    0.480423
2001-05-07   -0.504430
2001-05-08    0.261090
2001-05-09    0.622161
2001-05-10   -1.156741
2001-05-11    0.056342
2001-05-12   -0.902951
2001-05-13   -0.491709
2001-05-14    0.047799
2001-05-15   -0.284708
2001-05-16   -1.878448
2001-05-17   -0.085331
2001-05-18    1.777145
2001-05-19   -0.357736
2001-05-20   -0.558276
2001-05-21   -0.877329
2001-05-22    1.619889
2001-05-23    0.695547
2001-05-24    0.602131
2001-05-25    1.316780
2001-05-26   -0.815893
2001-05-27    0.310854
2001-05-28   -0.209519
2001-05-29   -0.701729
2001-05-30   -0.455963
2001-05-31   -0.787999
Freq: D, dtype: float64

In [20]:
ts[datetime(2011,1,7):]

2011-01-07   -0.140376
2011-01-08    0.332055
2011-01-10   -0.614697
2011-01-12   -2.035146
dtype: float64

In [21]:
ts

2011-01-02    0.023715
2011-01-05   -1.512239
2011-01-07   -0.140376
2011-01-08    0.332055
2011-01-10   -0.614697
2011-01-12   -2.035146
dtype: float64

In [22]:
ts['2011-01-01':'2011-01-10']

2011-01-02    0.023715
2011-01-05   -1.512239
2011-01-07   -0.140376
2011-01-08    0.332055
2011-01-10   -0.614697
dtype: float64

In [23]:
ts.truncate(after='1/9/2011')

2011-01-02    0.023715
2011-01-05   -1.512239
2011-01-07   -0.140376
2011-01-08    0.332055
dtype: float64

In [25]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [26]:
long_df = pd.DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.765776  1.191607  1.094420 -0.574134
2000-01-12 -0.107553 -0.199307  0.063404 -0.541750
2000-01-19  0.711790 -1.018100 -0.005778  0.023317
2000-01-26  0.384182 -0.621720 -0.710081  0.344114
2000-02-02  0.156897  0.915848  0.215957 -0.260986
2000-02-09 -1.955400 -0.261309 -0.028576 -0.981087
2000-02-16 -1.895399  0.808133 -0.087537 -0.430389
2000-02-23 -0.573054 -0.826378 -1.127522  0.932280
2000-03-01 -0.745408  0.991810  2.614097 -0.468515
2000-03-08  0.366636  1.203816 -0.169138  1.645076
2000-03-15  1.449654  1.130176 -2.356247 -1.201268
2000-03-22  0.689916 -0.500743 -0.764440  0.619565
2000-03-29  0.923882  0.455148 -0.376634 -0.493544
2000-04-05  0.942256 -0.651431 -0.569920 -1.469133
2000-04-12  0.641100  1.923216  0.266509  0.011526
2000-04-19 -0.899393 -0.619526  1.265509  1.628722
2000-04-26 -0.563306 -0.190355  0.139459  0.187972
2000-05-03 -0.308183 -1.038534 -0.066469  0.263577
2000-05-10  0.277174 -1.747567  0.740062 -0.136879
2000-05-17 -1.461576  1.744649  1.122362  0.759910
2000-05-24 -1.055560  0.706854 -0.161706  0.211989
2000-05-31  0.002148  0.419100  0.303162 -0.367603
2000-06-07  0.029553  1.019180  0.720411  0.134842
2000-06-14 -0.746317  0.942386 -0.046487 -0.458234
2000-06-21 -1.735350 -0.970805 -0.474735  0.732930
2000-06-28 -0.136476 -0.752102  0.223458  0.001456
2000-07-05 -0.313618 -0.056133 -0.228771  0.278726
2000-07-12  1.335669  0.050133  1.616170 -1.143309
2000-07-19  0.653677  0.419535 -0.019430  1.523162
2000-07-26  1.340699  0.022276  1.683783  1.453845
...              ...       ...       ...       ...
2001-05-09  1.971490 -0.801482  0.258454 -1.029819
2001-05-16  1.612854 -0.726106  1.059184  0.987473
2001-05-23  0.658580 -0.299310  0.060960  0.480967
2001-05-30  1.866411  0.191559  0.340563 -1.066640
2001-06-06  1.377382 -1.003788 -0.640583 -0.371558
2001-06-13  1.755126  2.399545 -1.384180  0.150722
2001-06-20 -0.225411  1.423415 -1.388568 -0.277329
2001-06-27  0.274692  1.276038  0.499450 -0.729992
2001-07-04  0.651619  0.913101  0.929198 -0.808488
2001-07-11 -1.691349 -0.739632 -0.229693  1.262279
2001-07-18 -1.152234 -0.600492  0.478710  1.196876
2001-07-25  0.711631 -1.310445 -0.339927 -1.068414
2001-08-01 -0.628476  1.267323 -0.131025  0.748622
2001-08-08  1.391783  0.591464 -0.314633 -0.590893
2001-08-15 -0.132444 -0.449438  0.665154 -1.156241
2001-08-22 -0.105517 -1.396816 -0.615805 -0.271411
2001-08-29  1.973683 -0.015588 -0.428540 -2.124898
2001-09-05  0.934206  0.079609 -0.689815  0.217586
2001-09-12 -0.140008  1.440664 -2.088830 -0.455861
2001-09-19 -1.329007  0.183577  1.290067 -0.956010
2001-09-26 -1.467315 -0.325751 -0.136191  0.057571
2001-10-03 -0.425903  0.619262  1.304716 -0.017599
2001-10-10 -0.470055  2.133209 -0.618937  0.046936
2001-10-17 -0.658109  1.341444  0.694008  1.020163
2001-10-24  0.369176 -0.165255  0.852616 -0.485534
2001-10-31 -0.633623  0.139374  0.954838  0.398780
2001-11-07 -0.142915 -0.391060 -0.356715  0.904105
2001-11-14  1.685064  0.499015  0.049527  0.962192
2001-11-21 -0.712894 -0.176732  0.028137  0.301359
2001-11-28  0.108486  0.306467  1.900734 -0.683981

[100 rows x 4 columns]

In [28]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.526013  0.001227 -0.803518 -0.172838
2001-05-09  1.971490 -0.801482  0.258454 -1.029819
2001-05-16  1.612854 -0.726106  1.059184  0.987473
2001-05-23  0.658580 -0.299310  0.060960  0.480967
2001-05-30  1.866411  0.191559  0.340563 -1.066640

# Time Series with Duplicate Indices

In [29]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [30]:
dup_ts.index.is_unique

False

In [31]:
dup_ts['1/03/2000']

4

In [32]:
dup_ts['1/02/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [33]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64